*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: absolute;
    display: flex;
    width: 100%;
}

li{
    margin: 25px 75px;
}

a{
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    font-family: Raleway, sans-serif;
}

a:hover{
    text-decoration: underline;
}

.left-header{
    width: 30%;
}

.left-header img{
    margin: 25px 25px;
}

.right-header{
    width: 70%;
}

.right-header ul{
    list-style-type: none;
    float: right;
    display: flex;
}

.container{
    width: 100%;
}

.container img{
    width: 100%;
}